button{
   background-color: red;
    color: black;
    height: 250px;
    width: 350px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
    color: white;
    border-radius: 20px;
}
button:active{
    background-color: yellow;
    color: black;
    border-radius: 20px;
}
.e{
    background-color: pink;
    color: black;
    height: 250px;
    width: 350px;
    cursor: pointer;
}
.e:hover{
    background-color: green;
    color: white;
}
